body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

iframe {
    height: 9vh;
    width: 9vw;
    border-radius: 25px;
    flex-shrink: 0;  /* prevent shrinking */
}
